* {
    margin: 0;
    padding: 0;
    background-color: oldlace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav {
    display: flex;
    padding: 10px;
    background-color: aquamarine;
}

@media screen and (max-width:780px) {
    .nav {
    display: flex;
    background-color: aquamarine;
    }
}

li {
    list-style: none;
}

@media screen and (max-width:780px) {
    li {
        background-color: aquamarine;
    }
}

.nav > li > a {
    color: white;
    font-size: 20px;
    padding-left: 60px;
    text-decoration: none;
    background-color: aquamarine;
}

@media screen and (max-width:780px) {
    .nav > li > a {
    color: white;
    font-size: 10px;
    padding-left: 40px;
    text-decoration: none;
    background-color: aquamarine;
    }
}

/* ハンバーガーメニュー */
#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
    top:-120%;
    left:0;
    width:100%;
    height: 100vh;/*ナビの高さ*/
    background:#999;
    /*動き*/
    transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    top: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
    list-style: none;
    text-align: center; 
}

#g-nav li a{
    color: #333;
    text-decoration: none;
    padding:10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn1{
    position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
    right: 10px;
    cursor: pointer;
    width: 50px;
    height:50px;
    background-color: aquamarine;
}

@media screen and (max-width:780px) {
    .openbtn1 {
        height: 35px;
        margin-top: -10px;
    }
}

/*×に変化*/  
.openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #666;
    width: 45%;
}

.openbtn1 span:nth-of-type(1) {
    top:15px; 
}

.openbtn1 span:nth-of-type(2) {
    top:23px;
}

.openbtn1 span:nth-of-type(3) {
    top:31px;
}

.openbtn1.active {
    background-color: oldlace;
}

.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
    opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/* エビフライト抹茶の専門店 はま田*/
.Hamada {
    font-size: 40px;
    text-align: center;
    position: relative;
    background: #a6d3c8;
    color: white;
    padding: 0.5em;
    width: 50vw;
    margin: 100px auto;
}

@media screen and (max-width:780px) {
    .Hamada {
        font-size: 20px;
        text-align: center;
        position: relative;
        background: #a6d3c8;
        color: white;
        padding: 0.5em;
        width: 80vw;
        margin: 100px auto;
    }
}

.Hamada::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
}

.contents-Hamada {
    display: flex;
}

@media screen and (max-width:780px) {
    .contents-Hamada {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

.super-Hamada {
    width: 50vw;
}

.Hamada-ps {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

@media screen  and (max-width:780px) {
    .Hamada-ps {
        width: 70vw;
        margin-left: -40px;
    }
}

.Hamada-food {
    display: flex;
    width: 25%;
    flex-direction: column;
}

.Hamada-food > img {
    text-align: center;
    height: 100%;
}

.Hamada-food > span {
    font-size: 30px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width:780px) {
    .Hamada-food > span {
        font-size: 10px;
    }
}

.Hamada-sweet {
    display: flex;
    width: 25%;
    flex-direction: column;
}

.Hamada-sweet > img {
    text-align: center;
    height: 100%;
}

.Hamada-sweet > span {
    font-size: 30px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width:780px) {
    .Hamada-sweet > span {
        font-size: 10px;
    }
}

.Hamada-in {
    display: flex;
    width: 25%;
    flex-direction: column;
    height: 50%;
}

.Hamada-in > img {
    text-align: center;
}

.Hamada-in > span {
    font-size: 30px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width:780px) {
    .Hamada-in > span {
        font-size: 10px;
    }
}

.Hamada-p {
    width: 50vw;
}

@media screen and (max-width:780px) {
    .Hamada-p {
        margin-top: -70px;
        width: 70vw;
        height: 30vh;
    }
}

.Hamada-p > img {
    width: 100%;
    border-radius: 10%;
}

.sentence-Hamada {
    font-size: 20px;
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;  
    text-align: center;
    width: 90%;
    margin-top: 60px;
    margin-left: 30px;
} 

@media screen and (max-width:780px) {
    .sentence-Hamada {
        font-size: 10px;
        width: 67vw;
        margin-top: 20px;
        margin-left: -40px;
    }
}


.sentence-Hamada:after {
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}


/* 向町cafe */
.Mukai {
    font-size: 40px;
    text-align: center;
    position: relative;
    background: #a6d3c8;
    color: white;
    padding: 0.5em;
    width: 50vw;
    margin: 100px auto;
}

@media screen and (max-width:780px) {
    .Mukai {
        font-size: 20px;
        text-align: center;
        position: relative;
        background: #a6d3c8;
        color: white;
        padding: 0.5em;
        width: 70vw;
        margin: 50px auto;
    }
}

.Mukai::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
}

.contents-Mukai {
    display: flex;
}

@media screen and (max-width:780px) {
    .contents-Mukai {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.super-Mukai {
    width: 50vw;
}


.Mukai-ps {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

@media screen and (max-width:780px) {
    .Mukai-ps {
        width: 70vw;
        margin-left: -40px;
    }
}

.Mukai-food {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.Mukai-food > img {
    text-align: center;
    height: 100%;
}


.Mukai-food > span {
    font-size: 30px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width:780px) {
    .Mukai-food > span {
        font-size: 10px;
    }
}

.Mukai-in {
    display: flex;
    width: 40%;
    flex-direction: column;
    height: 50%;
}

.Mukai-in > img {
    text-align: center;
}

.Mukai-in > span {
    font-size: 30px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width:780px) {
    .Mukai-in > span {
        font-size: 10px;
    }
}

.Mukai-p {
    width: 50vw;
}

@media screen and (max-width:780px) {
    .Mukai-p {
        margin-top: -20px;
        width: 70vw;
        height: 30vh;
    }
}

.Mukai-p > img {
    width: 100%;
    border-radius: 10%;
}

.sentence-Mukai {
    font-size: 20px;
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;  
    text-align: center;
    width: 90%;
    margin-top: 50px;
    margin-left: 30px;
} 

@media screen and (max-width:780px) {
    .sentence-Mukai {
        font-size: 10px;
        width: 72vw;
        margin-left: -50px;
        margin-top: 0;
    }
}

.sentence-Mukai:after {
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

/* 守貞cafe */
.Morisada {
    font-size: 40px;
    text-align: center;
    position: relative;
    background: #a6d3c8;
    color: white;
    padding: 0.5em;
    width: 50vw;
    margin: 100px auto;
}

@media screen and (max-width:780px) {
    .Morisada {
        font-size: 20px;
        text-align: center;
        position: relative;
        background: #a6d3c8;
        color: white;
        padding: 0.5em;
        width: 70vw;
        margin: 50px auto;
    }
}

.Morisada::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
}

.contents-Morisada {
    display: flex;
}

@media screen and (max-width:780px) {
    .contents-Morisada {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

.super-Morisada {
    width: 50vw;
}

.Morisada-ps {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

@media screen and (max-width:780px) {
    .Morisada-ps {
        width: 70vw;
        margin-left: -40px;
        margin-top: -5px;
    }
}

.Morisada-in {
    display: flex;
    width: 25%;
    flex-direction: column;
    height: 50%;
}

.Morisada-in > img {
    text-align: center;
}

.Morisada-in > span {
    font-size: 30px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width:780px) {
    .Morisada-in > span {
        font-size: 10px;
    }
}

.Morisada-out {
    display: flex;
    width: 25%;
    flex-direction: column;
    height: 50%;
}

.Morisada-out > img {
    text-align: center;
}

.Morisada-out > span {
    font-size: 30px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width:780px) {
    .Morisada-out > span {
        font-size: 10px;
    }
}

.Morisada-cake {
    display: flex;
    width: 25%;
    flex-direction: column;
    height: 50%;
}

.Morisada-cake > img {
    text-align: center;
}

.Morisada-cake > span {
    font-size: 30px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width:780px) {
    .Morisada-cake > span {
        font-size: 10px;
    }
}


.Morisada-p {
    width: 50vw;
}

@media screen and (max-width:780px) {
    .Morisada-p {
        margin-top: -20px;
        width: 70vw;
        height: 30vh;
    }
}

.Morisada-p > img {
    width: 100%;
    border-radius: 10%;
}

.sentence-Morisada {
    font-size: 20px;
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;  
    text-align: center;
    width: 95%;
    margin-top: 60px;
} 

@media screen and (max-width:780px) {
    .sentence-Morisada {
        font-size: 10px;
        width: 75vw;
        margin-top: 10px;
        margin-left: -55px;
        margin-bottom: 20px;
    }
}

.sentence-Morisada:after {
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

footer {
    background-color: aquamarine;
    text-align: center;
    font-size: 15px;
}

small {
    background-color: aquamarine;
}